---
layout: archive
---

{{ content }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CGWLD12PGV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CGWLD12PGV');
</script>

<div class="about-me">
  <p>
    I am a microeconomist with a research interest in belief formation and decision-making. I integrate insights from neuroscience, cognitive science, psychology, and economics in my research. I employ a range of theoretical and empirical methodologies &mdash; including formal modeling, laboratory experiments, and Bayesian methods &mdash; to investigate the mechanisms driving systematic deviations from rational benchmarks and their implications for decision-making in both individual and strategic settings.
  </p>
  <p>
    I am currently on the job market 2024-25 and available for interviews.
  </p>
</div>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
